@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Rock+Salt&family=Tangerine:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Marck+Script&family=Rock+Salt&family=Tangerine:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

html,body{
	width: 100%;
	height:auto;
	margin: 0px;
	padding: 0px;
	font-family: 'Neucha', cursive;
}

#page_container{
	position: relative;
	min-height: auto;
	box-sizing: border-box;

}

header{
  height: 190px;
  text-align: center;
  background-image:url("../img/header_img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

a{
	text-decoration: none;
	font-weight: lighter;
	font-style: normal;
	font-family: 'Neucha', cursive;
}

header h1{
	margin: 0px;
	font-weight:bold;
	font-style: italic;
	font-family: 'Rock Salt', cursive;
	font-size: 60px;
	padding-top:20px;
	background: linear-gradient(to right,yellow 50%, green);
 	-webkit-background-clip: text;
 color: transparent;

}

#login_container{
	float: right;
	margin-right: 2%;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0;
}

.navbar a {
  font-size: 24px;
  font-style: bold;
  font-family: 'Neucha', cursive;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 26px 30px;
  text-decoration: none;
}


.navbar .dropdown-img {
  padding: 19px 19px;
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #666;
  color: white;
}

main{
	width: 100%;
	height:auto;
	min-height: 600px;
	background-color: #BBBBBB;
	overflow: auto;
	z-index:1;
}

main h1{
	margin: 0px;
}

.footer{
	padding: 20px;
  	text-align: center;
 	background: #333;
 	color:white;
}

.footer a{
	color: white;
}

/* For account and function buttons for toolbar */
.dropdown-img:hover .downbtn{
	display:block;
	background-color:#faf0e6;
	z-index: 999;
	cursor: pointer;
}
.dropdown-img:hover{
	background-color: none;
	height:41px;
	width:41px;
	cursor: pointer;
}

.dropdown-img img{
	background-color:white;
	height:41px;
	width:auto;
}

.dropdown-img .downbtn{
	display:none;
	position:absolute;
	right: 0;
	background-color:#A0522D;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-right: 5px;
}
.dropdown-img .downbtn li{
	line-height:30px;
	text-align:left;
	padding-left:5px;
	text-decoration: none;
}
.dropdown-img .downbtn a:hover{
	background-color:#666;
	color: white
}
.dropdown-img .downbtn a{
	font-size: 20px;
	font-family: 'Gamja Flower', cursive;
	padding: 6px;
	display:block;
	color:black;
	width:100%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #A0522D;
	color: #FFF;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
   }

   /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
   .active, .collapsible:hover {
	background-color: #BA6C47;
   }

   /* Style the collapsible content. Note: hidden by default */
   .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f8e468;
   }

   button.collapsible::after {
	 content: "\002B";
	 color: white;
	 font-weight: bold;
	 float: right;
	 margin-left: 5px;
   }

   button.collapsible.active::after {
	 content: "\2212";
   }

   .search {
	 padding: 0 18px;
	 display: block;
	 overflow: hidden;
	 background-color: #f8e468;
   }

   .grid-container {
	 display: grid;
	 grid-template-columns: auto auto auto;
	 grid-gap: 10px;
	 padding: 10px;
   }

   .searchBar {
	 width: 400px;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 overflow-x: hidden;
	 padding-top: 20px;
   }

   .contact-table {
		width: 80%;
		margin-left: 4%;
   }
