html,body{
	width: 100%;
	height:auto;
	margin: 0px;
	padding: 0px;
}

#page_container{
	position: relative;
	min-height: auto;
	padding-bottom:300px;
	box-sizing: border-box;
}
header{
	background-image: url("../img/background_top.jpg");
	background-size: 100% 100% ;
	background-repeat: no-repeat;
	border:solid 0.1px ;
	padding-bottom: 3%;
}

a{
	text-decoration: none;
}

header h1{
	 height:180px;
   color:yellow;
   font-size: 150px;
   -webkit-text-stroke: 1.2px #000;
   text-align: center;
   margin: 0;
   padding: 0;
   background: linear-gradient(to right, #ffff00, #66cc33);
  -webkit-background-clip: text;
  color: transparent;
}

#login_container{
	float: right;
	margin-right: 2%;
}


nav{
	height: 60px;
	width: 100%;
	background-image:url("../img/background_body.jpg");
	background-size: 100% 100%;
	background-repeat: repeat;
	background-color: #A0522D;
	text-align: center;
	color:white;
	padding-top: 18px;
	border-top:solid 2px white;
	border-bottom:solid 2px white;
}

nav div{
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

nav a{
	font-size: 24px;
	text-decoration: none;
	font-weight: bold;
	color:white;
	padding-left: 20px;
	padding-right: 20px;
}

nav a:hover{
	color: #FAEB8E;
}

main{
	width: 100%;
	height:auto;
	min-height: 600px;
	background-image:url("../img/background_body.jpg");
	background-repeat: repeat;
	background-size: 100% 100px;
	background-color: #FAEB8E;
	overflow: auto;
	z-index:1;
}

main h1{
	margin: 0px;
}

footer{
	height:300px;
	width: 100%;
	margin:0;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image:url("../img/background_bottom.jpg");
	background-color: #A0522D;
	background-size: 100% 100%;
	border:solid 1px;
	z-index: 1;
}



/* For account and function buttons for toolbar */
.dropdown-img:hover .downbtn{
	display:block;
	background-color:#faf0e6;
	z-index: 999;
}
.dropdown-img:hover{
	background-color: none;
	height:30px;
	width:30px;
}

.dropdown-img img{
	background-color:white;
	height:30px;
	width:auto;
}

.dropdown-img .downbtn{
	display:none;
	position:absolute;
	background-color:#A0522D;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-img .downbtn li{
	line-height:30px;
	text-align:left;
	padding-left:5px;
	text-decoration: none;
}
.dropdown-img .downbtn a:hover{
	text-decoration:underline;
	color:#f00;
}
.dropdown-img .downbtn a{
	display:block;
	color:black;
	width:100%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #A0522D;
	color: #FFF;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
   }

   /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
   .active, .collapsible:hover {
	background-color: #BA6C47;
   }

   /* Style the collapsible content. Note: hidden by default */
   .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f8e468;
   }

   button.collapsible::after {
	 content: "\002B";
	 color: white;
	 font-weight: bold;
	 float: right;
	 margin-left: 5px;
   }

   button.collapsible.active::after {
	 content: "\2212";
   }

   .search {
	 padding: 0 18px;
	 display: block;
	 overflow: hidden;
	 background-color: #f8e468;
   }

   .grid-container {
	 display: grid;
	 grid-template-columns: auto auto auto;
	 grid-gap: 10px;
	 padding: 10px;
   }

   .searchBar {
	 width: 400px;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 overflow-x: hidden;
	 padding-top: 20px;
   }

   .contact-table {
		width: 80%;
		margin-left: 4%;
   }
