body{
  background-color:#fff5dc;
   background-size: 100% 100%;
   background-repeat: no-repeat;
 }
 header{
   background-image: url("background1.jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   height: 100%;
   padding-bottom: 2%;
 }

 h1{
   height:180px;
   color:yellow;
   font-size: 150px;
   -webkit-text-stroke: 1.2px #000;
   text-align: center;
   margin: 0;
   padding: 0;
   background: linear-gradient(to right, #ffff00, #66cc33);
  -webkit-background-clip: text;
  color: transparent;
   line-height: 120%;
   }


  h2{
    margin-top: 2%;
    padding-left:10%;
    color: 	#009933;
    line-height: 30px;
    font-size: 40px;
    text-align: left;
    min-width: 1500px;
    background: linear-gradient(to right, red, yellow);
   -webkit-background-clip: text;
   -webkit-text-stroke: 0.5px #993333;
   color: transparent;
  }

  .mytxt {
    width: 800px;
    color:#333;
    line-height:normal;
    font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
    margin-top:10px;
    margin-bottom:0px;
    margin-left:30px;
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    font-size:30px;
    outline-width:thick;
    outline-style:none;
    outline-color:invert;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    text-shadow:0px 1px 2px #fff;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position-x:left;
    background-position-y:top;
    background-size:auto;
    background-origin:padding-box;
    background-clip:border-box;
    background-color:rgb(255,255,255);
    margin-right:10px;
    border-top-color:#ccc;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    border-left-color:#ccc;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
     }

     .account img{
       height:50px;
       width:50px;
       margin-right: 15%;
     }

     .functions,.account{
         float:right;
         display:inline-block;
         background-color:none;
         margin-right: 5%;
         margin-top: 2%;
     }
     .functions:hover .downbtn{
         display:block;
         background-color: #f1f1f1;
         z-index: 999;
     }
     .functions:hover{
         background-color: none;
     }
     .functions span{
         padding:15px;
         line-height:61px;
         cursor:pointer;
         color: white;
     }
     .functions img{
       height:50px;
       width:50px;
     }
     .functions .downbtn{
         display:none;
         position:absolute;
         background-color:#f9f9f9;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         min-width: 160px;
     }
     .functions .downbtn li{
         line-height:30px;
         text-align:left;
         padding-left:5px;
     }
     .functions .downbtn a:hover{
         text-decoration:underline;
         color:#f00;
     }
     .functions .downbtn a{
         display:block;
         color:black;
         width:100%;
     }

     button{
       background-color: #00ff00;
       height: 40px;
       width: 100px;
       margin-left:10%;
       margin-top: 2%;
     }

     table{
       align:center;
       margin-left:auto;
       margin-right: auto;
       margin-bottom: auto;
       margin-top: 4%;
     }
     td{
       width: 1000px;
     }

      .recipe_introduction{
        align:center;
        margin: auto;
        display: block;
      }
      .recipe_introduction img{
        height: 300px;
        width:450px;
        margin-top: 5%;
        margin-left: 5%;
      }

       .recipe_introduction #recipe_name{
         font-family: serif;
        font-size:45px;
        line-height:2%;
        margin-left: 53%;
        margin-top: -25%;
      }
      .recipe_introduction #uploader{
        font-family: monospace;
        font-size: 30px;
        color: black;
        margin-top: 9%;
        margin-left:53%;
      }
    .recipe_introduction  #expected_cost{
        font-size: 30px;
        color:black;
        width:300px;
        margin-left:90%;
        margin-top: -12%;
      }
      .recipe_introduction #recommend{
        margin-left: 53%;
        margin-top:13%;
        font-size: 30px;
        line-height: 0;
      }
    .recipe_introduction  #expected_cost_num{
        font-size: 40px;
        margin-left: 95%;
        margin-top: -13%;
        width:150px;
      }
    .recipe_introduction  #calorie{
       font-family: sans-serif;
        font-size: 30px;
        width: 100px;
        margin-left: 95%;
        margin-top: 7%;
      }
    .recipe_introduction  #calorie_num{
      font-family: sans-serif;
        font-size: 30px;
        width: 200px;
        margin-left: 95%;
        margin-top: 2%;
      }

     .wish,.share,.MealPlan{
       display: inline;
     }
     .wish img{
        height:50px;
        width:50px;
        margin-left: 7%;
      }
       .share img{
        height: 50px;
        width: 50px;
        margin-left: 13%;
      }
      .MealPlan{
        position: relative;
      }
      .downbtn2{
        display:none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
      }
      .MealPlan:hover .downbtn2{
        display:inline;
        margin-top: 18%;
        margin-left: -25%;
      }
       .MealPlan img{
        height: 50px;
        width: 50px;
        margin-left: 15%;
      }

    #wave1{
        width: 100%;
        height:100%;
        align:center;
        margin-top: -8%;
      }


      #material{
      font-family:"URW Chancery L", serif;
      font-size: 40px;
      color: black;
      margin-top: -10%;
      margin-left: 10%;
    }
     #matirial_content{
      font-family:"URW Chancery L", serif;
      font-size: 30px;
      line-height: 150%;
      margin-top: 0%;
      margin-left: 12%;
    }

    #wave2{
      width: 100%;
      height:100%;
      align:center;
      margin-top: -10%;
      margin-right: 0;
    }

    #step{
    font-size: 40px;
    color: black;
    margin-top: -8%;
    margin-left: 10%;
  }
   #step_content{
    font-size: 30px;
    line-height: 400%;
    margin-top: 0%;
    margin-left: 12%;
  }

  footer{
    height: 150px;
    width: 100%;
    background-color: #b5a642;
    background-size:100% 100%;
    background-repeat: no-repeat;
    text-align:center;
    margin-top: 8%;
  }
  #contect_information{
    font-size: 20px;
    float: left;
    line-height: 40px;
    margin-left: 10%;
  }
   #social_application img{
     height: 70px;
     width: 70px;
     display: inline;
     margin-left: 10%;
     margin-top:40px;
   }
