/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #A0522D;
	color: #FFF;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
   }
   
   /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
   .active, .collapsible:hover {
	background-color: #CD9E5D;
   }
   
   /* Style the collapsible content. Note: hidden by default */
   .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f8e468;
   }
   
   button.collapsible::after {
	 content: "\002B";
	 color: white;
	 font-weight: bold;
	 float: right;
	 margin-left: 5px;
   }
   
   button.collapsible.active::after {
	 content: "\2212";
   }
   
   .search {
	 padding: 0 18px;
	 display: block;
	 overflow: hidden;
	 background-color: #FAEB8E;
   }
   
   .grid-container {
	 display: grid;
	 grid-template-columns: auto auto auto;
	 grid-gap: 10px;
	 padding: 10px;
   }
   
   .searchBar {
	 width: 400px;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 overflow-x: hidden;
	 padding-top: 20px;
   }

.searchBar, .searchResults {
	display:table-cell;
	padding:12px;
}

.searchResults {
	
}

.results-grid {
	display:grid; 
	grid-template-columns: 20% 20% 20% 20%;
	grid-column-gap: 5%;
	grid-row-gap: 5%;
}

.result {
	text-align: center;
	background-color: #f8e468;
}

.result img {
	width: 100%;
	height: auto;
}

