/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #666666;
	color: #FFF;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
   }

   /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
   .active, .collapsible:hover {
	background-color: #999999;
   }

   /* Style the collapsible content. Note: hidden by default */
   .content {
	padding: 12px 18px;
	line-height: 24px;
	display: none;
	overflow: hidden;
	background-color: #eaeaea;
   }

   button.collapsible::after {
	 content: "\002B";
	 color: white;
	 font-weight: bold;
	 float: right;
	 margin-left: 5px;
   }

   button.collapsible.active::after {
	 content: "\2212";
   }

   .search {
	 padding: 0 18px;
	 display: block;
	 overflow: hidden;
	 background-color: #FAEB8E;
   }

   .grid-container {
	 display: grid;
	 grid-template-columns: auto auto auto;
	 grid-gap: 10px;
	 padding: 10px;
   }

   .searchBar {
	 width: 400px;
	 z-index: 999;
	 top: 0;
	 left: 0;
	 overflow-x: hidden;
	 padding-top: 20px;
   }

.searchBar, .searchResults {
	display:table-cell;
	padding:12px;
}

.results-grid {
	display:grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-column-gap: 70px;
	grid-row-gap: 70px;
	text-align: left;
}

.result {
	text-align: center;
	background-color: #444444;
	border:1px solid white;
}
.result a{
	color:white;
}

.result img {
	width: 100%;
	height: auto;
}

.checkbox{
    display: none;
}

.checkbox:checked + label{
    background: url('../img/heart.png');
	height: 28px;
    width: 30px;
    display:inline-block;
}

.checkbox + label{
    background: url('../img/void-heart.png');
	height: 28px;
    width: 30px;
    display:inline-block;
}

label:hover{
	cursor: pointer;
}

label{
	margin-left: 40px;
}

.searchResults h1{
	display: inline-block;
	margin-bottom:10px;
}
