main {
	padding-top: 30px;
	text-align:center;
}

main h1{
	margin: 0px;
	margin-bottom: 15px;
	color: #333;
}

main a{
	color: #333;
	font-weight: bold;
}

.loginForm {
	color: white;
	font-weight: bold;
	border: 0.1px solid #404040;
	width: 350px;
	height: 200px;
	border-radius: 0.5px;
	background-color: #333;
	padding:20px;
	display: inline-block;
}

.signUpForm {
	color: white;
	font-weight: bold;
	border: 0.1px solid #404040;
	width: 350px;
	height: 290px;
	border-radius: 0.5px;
	background-color: #333;
	padding:20px;
	display: inline-block;
}

.resetForm {
	color: white;
	font-weight: bold;
	border: 0.1px solid #404040;
	width: 350px;
	height: 270px;
	border-radius: 0.5px;
	background-color: #333;
	padding:20px;
	display: inline-block;
}

fieldset
{
	background-color: white;
	border-radius: 0.5px;
	box-shadow: 0.08px 0.05px #ccc;
	margin-bottom: 2px;
}

.textInput {
	background-color: #f9f5e4;
}

.submitButton {
	background-color: #f9f5e4;
	width:100px;
	height:40px;
}
