body {
	background-color: #f5efc6;
}

.header1 {
	height:80px;
	padding-bottom:40px;
	background: url(loginHeader.png) no-repeat center;
	background-size: 500px 120px;
	text-align:center;
}

.header2 {
	height:80px;
	padding-bottom:40px;
	background: url(signUpHeader.png) no-repeat center;
	background-size: 500px 120px;
	text-align:center;
}

.header3 {
	height:80px;
	padding-bottom:40px;
	background: url(resetHeader.png) no-repeat center;
	background-size: 500px 120px;
	text-align:center;
}

main {
	padding-top: 30px;
	text-align:center;
}

.loginForm {
	border: 0.1px solid #404040;
	width: 350px;
	height: 200px;
	border-radius: 0.5px;
	background-color: #f7eda6;
	padding:20px;
	display: inline-block;
}

.signUpForm {
	border: 0.1px solid #404040;
	width: 350px;
	height: 290px;
	border-radius: 0.5px;
	background-color: #f7eda6;
	padding:20px;
	display: inline-block;
}

.registerForm {
	border: 0.1px solid #404040;
	width: 350px;
	height: 250px;
	border-radius: 0.5px;
	background-color: #f7eda6;
	padding:20px;
	display: inline-block;
}

fieldset
{
	background-color: white;
	border-radius: 0.5px;
	box-shadow: 0.08px 0.05px #ccc;
	margin-bottom: 2px;
}

h1 {
	padding-left: 40px;
}

.textInput {
	background-color: #f9f5e4;
}

.submitButton {
	background-color: #f9f5e4;
	width:100px;
	height:30px;
}
