.column{
    
    padding: 24%;
    padding-top: 4%;
    
}

body{
    background-image: url("bg.jpg");
    background-size: cover;
}

h1{
    padding-top: 7%;
    text-align: center;
    color: #ec4646;
}

